.block-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;

  .floating-block-ui {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // // UI block 文字樣式
    // padding: 20px;
    // background-color: rgb(255, 255, 255);
    // color: rgb(0, 157, 255);
    // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    // border-radius: 10px;
    // text-align: center;
    // z-index: 1000;
  }
}


// 拿掉 Angular MatDialog 的黑底遮罩
::ng-deep {
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    background-color: transparent;
  }
}
