/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/shiki/themes/github-dark.css');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

// 對話串 動態生成的內容樣式
// NOTE:動態生成的樣式設定需放在全域
.message-content {

  /* 行內程式碼樣式 */
  :not(pre)>code {
    background-color: #f4f4f4;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 0.95em;
    color: #d63384;
    font-family: 'Courier New', Courier, monospace;
  }

  /* 列表間距 */
  li {
    margin-bottom: 5px;
  }
}
